* {
    background-color: gray
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 5 fr; */
    /*we want 1 column to be separated and 3 columns for the articles */
    gap: 20px;
    /*to make the gap between elements */
    grid-template-areas:
        "header header header header"
        "aside article article article"
        "footer footer footer footer"
}

header {
    grid-area: header;
    background-color: green;
    /*header will take the place of header */
    height: 30px;
    width: 100%;
}

h1,
ul,
li {
    background: pink;
}

aside {
    background-color: pink;
    grid-area: aside;
}

footer {
    background-color: purple;
    grid-area: footer;
}

article {
    grid-area: article;
    background-color: blue;
    height: 150px;
}