*{
    background-color: rgb(211, 186, 154);
    font-family: 'Poppins';
}

#container{
    background-color:bisque;
    padding: 30px;
    margin: 30px;

}

#header{
    padding-top: 30px;
}

h1{
    font-family: "Agbalumo";
}

#author{
    font-size: 18px;
    font-style: italic;
    color: rgb(5, 66, 115);
}